# Java compiled files
*.class

# Logs and temp files
*.log
*.tmp

# IDE folders
.idea/
.vscode/
*.iml
.settings/
bin/
out/

# OS files
.DS_Store

# Eclipse specific
.classpath
.project
.factorypath
.apt_generated
.sts4-cache
.springBeans

# NetBeans specific
/nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
